<div class="container mt-5">
  <h1>Resgistro de Nombres</h1>
  
  <form [formGroup]="form" (ngSubmit)="addNombre()">
    <div class="mb-3 mt-4 col-10 d-flex align-items-center">
      <label 
        for="nombre" 
        class="form-label w-50">
        Introduzca los Nombres:        
      </label>

      <input 
        type="text" 
        class="form-control w-50" 
        id="nombre"
        formControlName="nombre">

      <button 
        class="btn btn-primary mx-3 w-50"
        [disabled]="form.invalid">
        Adicionar Nombres
      </button>
    
    </div>
  </form>

    <form [formGroup]="form2">
    <div class="mb-3 col-12 d-flex align-items-center">

      <select class="form-select w-25" formControlName="nombres">
        <option [selected]="seleccione" [disabled]="true">Seleccione...</option>
        <option *ngFor="let nombre of coleccionNombres; let id = index"
        value={{id}}
        >{{ nombre | uppercase }}</option>        
      </select>
      
        <button
          class="btn btn-primary mx-3 w-25" (click)="showNombres()">
          Mostrar Nombres
        </button>
      </div>

    <div>
      <textarea 
        class="form-control" 
        placeholder="Lista de nombres" 
        id="mostrar-nombres" 
        style="height: 100px"
        formControlName="listaNombres"
        value="{{ imprimirNombres }}"
      ></textarea>
    </div>

  </form>
</div>
