/* You can add global styles to this file, and also import other style files */
body{
    background: url(https://i.stack.imgur.com/HDcAB.gif);
}
h1{
    color: white;
    font-size: 100px;
    box-shadow: 10px 5px 5px rgb(6, 195, 205);
}
.form-label{
    color: white;
    font-size: 30px;
}